@{ 
    ViewData["Title"] = "Реестр договоров"; 
}

<h2>@ViewData["Title"]</h2>

<div>
    @(Html.DevExtreme().DataGrid<Contract>()
                              .ColumnAutoWidth(true)
                                                  .ShowBorders(true)
.DataSource(ds => ds.Mvc()
    .Controller("Contracts")
    .LoadAction("Get")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("RowId")
)
.RemoteOperations(true)
.Columns(columns => {

columns.AddFor(m => m.RowId).Caption("Номер").SortIndex(0).SortOrder(SortOrder.Desc);
columns.AddFor(m => m.DocDate).Caption("Дата");

columns.AddFor(m => m.DocNum).Visible(false);

columns.AddFor(m => m.CustomerId).Caption("Статус СЗ").AllowEditing(false)
.Lookup(lookup => lookup.DataSource(ds => ds.WebApi().Controller("Contracts").LoadAction("SelfEmployedStatusLookup").Key("Value"))
                     .ValueExpr("Value")
                     .DisplayExpr("Text")
                              );


columns.AddFor(m => m.CustomerId).Caption("ФИО").CellTemplate($"<a id='userlink-<%- data.Customer.Id %>' href='javascript:void(0);' OnClick='OnCustomInfo(\"<%- data.Customer.Id %>\")'><%- data.Customer.Surname %> <%- data.Customer.Name===null?'':data.Customer.Name.substr(0,1) %>.<%- data.Customer.Middlename===null?'':data.Customer.Middlename.substr(0,1)+'.' %></a>").AllowEditing(false)
.Lookup(lookup => lookup.DataSource(ds => ds.WebApi().Controller("Contracts").LoadAction("UsersLookup").Key("Value"))
                 .ValueExpr("Value")
                 .DisplayExpr("Text")
                          );

//columns.AddFor(m => m.Type).Caption("Тип");
columns.AddFor(m => m.Status).Caption("Статус").AllowEditing(false)
.Lookup(lookup => lookup.DataSource(ds => ds.WebApi().Controller("Contracts").LoadAction("ContractStatusLookup").Key("Value"))
                     .ValueExpr("Value")
                     .DisplayExpr("Text")
                              );


columns.AddFor(m => m.DocUri).Visible(false);

columns.AddFor(m => m.SignUri).Visible(false);

//columns.AddFor(m => m.Created).Caption("Сформирован");
//    columns.Add().Caption("???");
columns.AddFor(m => m.SignDate).Caption("Подписан");
columns.AddFor(m => m.PaidDate).Caption("Оплачен");

columns.AddFor(m => m.Remark).Visible(false);

columns.Add()
               .Type(GridCommandColumnType.Buttons)
               .Width(110).Caption("#")
               .Buttons(b =>
               {
               b.Add().Name(GridColumnButtonName.Edit);
               b.Add().Name(GridColumnButtonName.Delete);

               b.Add()
                   .Hint("На подпись")
                   .Icon("fa fa-sign")
                    .OnClick(@<text>(e)=>{var data=e.row.data;  if(data.Status == 400){ fetch("/contract/sign/"+data.RowId.toString()).then(r=> {if(r.status==200) e.component.cellValue(e.row.rowIndex, 'Status', 401)}) }}</text>);
               b.Add()
                   .Hint("Показать черновик")
                   .Icon("print")
                   .OnClick(@<text>(e)=>{var data=e.row.data; window.open(data.DocUri? data.DocUri: "/contract/show/"+data.RowId.toString()).title="Договор № "+dn}</text>);

               });


})
    .Editing(e => e
        .AllowAdding(false)
        .AllowUpdating(true)
        .Mode(GridEditMode.Form)
        .Form(f=>f.Items(items=>items.AddGroup().Name("Номер").Items(groupItems=>groupItems.AddSimpleFor(m=>m.Remark).Editor(e=>e.TextArea().Name("Задание")))))
        .AllowDeleting(true)
        .UseIcons(true)
    )//.ToTemplate()
   
      .MasterDetail(md => {
          md.Enabled(true);
          md.Template(@<text>

 <div class="master-detail-caption"><%- data.Remark %></div>
    <div>
@(Html.DevExtreme().DataGrid<ContractAttachment>()
                                                  .ColumnAutoWidth(true)
                                                  .ShowBorders(true)
                                      .DataSource(ds => ds.Mvc()
                                          .Controller("ContractAttachments")
                                          .LoadAction("Get")
                                          .InsertAction("Post")
                                          .UpdateAction("Put")
                                          .DeleteAction("Delete")
                                          .Key("RowId")
                                            .LoadParams(new { id = new JS("data.RowId") })
                                      )
                                      .OnInitNewRow("e=>{e.data.RowId=0;e.data.RowNum=0; e.data.ContractId=data.RowId}")

                                      .RemoteOperations(true)
                                      .Columns(columns => {

                                          columns.AddFor(m => m.RowId).Visible(false);

                                          columns.AddFor(m => m.ContractId).Visible(false);


                                          columns.AddFor(m => m.RowNum).Visible(false);

                                          columns.AddFor(m => m.WorkId).Lookup(lookup => lookup
                                              .DataSource(ds => ds.WebApi().Controller("ContractAttachments").LoadAction("WorksLookup").Key("Value"))
                                              .ValueExpr("Value")
                                              .DisplayExpr("Text")
                                          );

                                          columns.AddFor(m => m.Quant);

                                          columns.AddFor(m => m.Price);

                                          columns.AddFor(m => m.Created).AllowEditing(false);

                                          columns.AddFor(m => m.Updated).AllowEditing(false);

                                          columns.AddFor(m => m.UserId).Visible(false);
                                      })
                                      .Editing(e => e
                                          .AllowAdding(true)
                                          .AllowUpdating(true)
                                          .AllowDeleting(true)
                                          )
              )
        </div>
        </text>);
    })
)
</div>


<script>

    function OnCustomInfo (id)  {

//        console.log(event);
        window.open(
            "@Url.Link("PersonalInfo",null)?user_id="+id,
            null,
            "resizable,scrollbars,location=off,status=on"
        );

    }

</script>