$primary-color: #2278e9;
$secondary-color: #2d9f0f;
$error-color: #9f0f20;

$text-primary: #000000;
$text-secondary: #525252;
$text-alt: #ffffff;
$text-error: #9f0f20;

$background-body: #ffffff;
$background-primary: #2278e9;
$background-primary-dark: #1054ae;
$background-primary-light: #d1e2f8;
$background-primary-lighter: #f1f7ff;
$background-secondary: #272b3f;
$background-secondary-light: #343952;
$background-banner: #eaf8fd;
$background-active-tab: $secondary-color;
$background-card: #f4f4f4;

$btn-bg: #000000;
$btn-primary-bg: $primary-color;
$btn-secondary-bg: $secondary-color;
$btn-danger-bg: $error-color;
$btn-success-bg: #2d9f0f;

$btn-shadow: rgba(0, 0, 0, 0.8);
$btn-primary-shadow: rgba(34, 120, 233, 0.8);
$btn-secondary-shadow: rgba(45, 159, 15, 0.8);

$border-diveder: #dadada;
$border-input: #c5c5c5;

$tag-blue-bg: #cfe2ff;
$tag-blue-text: #0d6efd;
$tag-indigo-bg: #e0cffc;
$tag-indigo-text: #660ff1;
$tag-purple-bg: #e2daf2;
$tag-purple-text: #6f42c1;
$tag-pink-bg: #f7d7e6;
$tag-pink-text: #d63384;
$tag-red-bg: #f7d7da;
$tag-red-text: #dc3546;
$tag-orange-bg: #ffe4cf;
$tag-orange-text: #ca6610;
$tag-yellow-bg: #fff3cd;
$tag-yellow-text: #997304;
$tag-green-bg: #d9f7e9;
$tag-green-text: #198754;
$tag-teal-bg: #d1f7fa;
$tag-teal-text: #1aa179;
$tag-cyan-bg: #d1ecf1;
$tag-cyan-text: #097991;
$tag-grey-bg: #e2e3e5;
$tag-grey-text: #6c757d;