@{
    ViewData["Title"] = "План разработки";
}

<h2>@ViewData["Title"]</h2>


<div>
@(Html.DevExtreme().TreeList<DevelopmentPlan>()
    .DataSource(ds => ds.Mvc()
        .Controller("DevelopmentPlans")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("RowId")
    )
    .RootValue(null)
    .ParentIdExpr("ParentId")
    .RemoteOperations(o => o.Filtering(true).Grouping(true).Sorting(true))
    .Columns(columns => {

        columns.AddFor(m => m.RowId).Visible(false);

        columns.AddFor(m => m.ParentId).Visible(false);

        columns.AddFor(m => m.Title).Caption("Наименование");

        columns.AddFor(m => m.Description).Caption("Описание");

        columns.AddFor(m => m.Created).Caption("Началао");

        columns.AddFor(m => m.PlanDate).Caption("План");

        columns.AddFor(m => m.FactDate).Caption("Окончание");

        columns.AddFor(m => m.WhoResponsible).Caption("Ответственный").Width(200)
                                                .Lookup(lookup => lookup
                                                    .DataSource(ds => ds.Mvc().Controller("DevelopmentPlans").LoadAction("AspNetUsersLookup").Key("Value"))
                                                 .ValueExpr("Value")
                                                 .DisplayExpr("Text")
                                                );


    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
        .ColumnAutoWidth(true)
        //      .OnEditorPreparing("treeList_onEditorPreparing")
        .OnInitNewRow("treeList_onInitNewRow")
)
</div>

<script>
    /*
    function treeList_onEditorPreparing(e) {
        if (e.dataField === "RowId" && e.row.data.RowId === -1) {
            e.cancel = true;
        }
    }
    */
    function treeList_onInitNewRow(e) {
        e.data.RowId = -1;
        e.data.created = new Date();
    }
</script>